<!DOCTYPE html>
<header>
<h1>Documentation</h1>
<h2>RapportSytem</h2>
</header>
<body>
    <p>
        RapportSystem is a system for creating and managing reports. The system is built with Python, flask & mySQL
</body>
<body>
    <p>________________________</p>
    <div>
        <h3>GET requests</h3>
        <p>Test request source:</p>
        <p>http://127.0.0.1:5001/test</p>
        <p>Yeilds json response:</p>
        <p>{"Test": "OK"}</p>
        <code><pre>Example:
            fetch('http://127.0.0.1:5001/test')
            .then(response => {
                if (!response.ok) {
            throw new Error('Network response was not ok');
            }
            return response.json();
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.log('There was a problem with the fetch operation:', error.message);
                });
        </pre></code>
    </div>
    <div>
        <h3>POST requst</h3>
        <p>Create user source:</p>
       <p> http://127.0.0.1:5001/createUser</p>
        <p>Yeilds json response:</p>
        <p>NONE.</p>
        <code><pre>Example:
            // URL endpoint to which you want to send the POST request
            const url = 'http://127.0.0.1:5001/createUser';

            // Data you want to send in the POST request
            const data = {
            email: 'OlaNordmann@viken.no',
            userPass: 'SupersecretPassword123',
            databaseName: 'Fagskolen i Viken',
            };

            // Make the POST request
            fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
            })
            .then(response => response.json()) // Parsing the response to JSON
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
            console.error('Error:', error);
            });

            </pre></code>

    </div>
</body>
<footer>

</footer>